---
import Layout from "../../layouts/page.astro";
import Contact from "../../components/contact.astro";
import Spacer from "../../components/spacer.astro";
---

<Layout>
    <Spacer />
    <div class="container center">
        <h1>Kontakt aufnehmen</h1>
        <p>Du hast Fragen oder möchtest uns Feedback geben?<br>Schreib uns eine Nachricht und wir melden uns bei dir.</p>
    </div>
    <Spacer />
    <Contact />
    <Spacer />
</Layout>