---
import Layout from "../../layouts/page.astro";
import Spacer from "../../components/spacer.astro";
---

<Layout>
    <div class="container center">
        <h1>Vielen Dank für deine Nachricht!</h1>
        <p>Wir haben deine Nachricht erhalten und melden uns so schnell wie möglich bei dir.</p>
        <Spacer />
        <p><a href="/home">&larr; Zurück zur Startseite</a></p>
    </div>
    <Spacer /><Spacer /><Spacer /><Spacer /><Spacer /><Spacer /><Spacer /><Spacer /><Spacer /> <Spacer /><Spacer />
</Layout>