---
import SocialButton from "./social-button.astro";
---

<div class="block-left">
    <div class="text">
        <h1>Jamie</h1>
        <h2>Die Stickermeisterin</h2>
        <p>Sie hat immer die passenden Sticker parat und weiß, wie sie mit kreativen Ideen die Straßen verschönern kann.</p>
        <p>
            <SocialButton href="https://bsky.app/profile/subrapier.bsky.app" service="bluesky" />
            <SocialButton href="https://discord.com/users/675013462719725569" service="discord" />
        </p>
    </div>
    <div class="img">
        <img src="/picrews/jamie.png" alt="Jamie" />
    </div>
</div>