---
import SocialButton from "./social-button.astro";
---

<div class="block-right">
    <div class="img">
        <img src="/picrews/leonie.png" alt="Leonie" />
    </div>
    <div class="text">
        <h1>Leonie</h1>
        <h2>Die Fotografin</h2>
        <p>Leonie hat meistens ihre Kamera dabei und hält die schönsten Momente fest. Frag sie einfach, wenn du ein Fotoshooting möchtest!</p>
        <p>
            <SocialButton href="https://bsky.app/profile/leonie.lgbt" service="bluesky" />
            <SocialButton href="https://discord.com/users/999591449056256010" service="discord" />
            <SocialButton href="https://web.koyu.space" service="web" />
        </p>
    </div>
</div>