---
import SocialButton from "./social-button.astro";
---

<div class="block-left">
    <div class="text">
        <h1>Laura</h1>
        <h2>Emotionaler Support</h2>
        <p>Laura hilft uns durch die Demos zu kommen und ist immer für uns da, wenn wir mal wieder zu viel Stress haben.</p>
        <p>
            <SocialButton href="https://bsky.app/profile/silberwiesel.de" service="bluesky" />
        </p>
    </div>
    <div class="img">
        <img src="/picrews/laura.png" alt="Laura" />
    </div>
</div>