<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="https://github.com/koyuawsmbrtn/stickergegenrechts" target="_blank">Open Source</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
        <div class="copyright">
            © {new Date().getFullYear()} Sticker Gegen Rechts. Alle Rechte vorbehalten.
        </div>
    </div>
</footer>