<div class="container center block">
    <h1 class="header header-spacing"><span class="wave-emoji">👋</span> Hallooooooo<i>!!</i></h1>
    <p>Wir sind eine lose Gruppe linker Mausis, die gerne Sticker und<br>andere Kleinigkeiten auf Demos verteilen. Schau dich ruhig um!</p>
</div>