<nav>
    <a href="/home"><img src="/logo.svg" alt="Sticker gegen Rechts!" id="logo" /></a>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home#about">Wer sind wir?</a>
        <li><a href="/home#why">Warum?</a></li>
        <li><a href="/home#democalendar">Demokalender</a></li>
        <li><a href="/home#stats">Statistiken</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
</nav>