---
import stats from "../json/stats.json";
---

<div class="container">
  <a name="stats"></a>
  <h1 class="center">Statistiken</h1>
  <p class="center">Allein diesen Monat haben wir...</p>
  <div class="stats">
    <div class="stats__body" id="statcounter">
      {
        stats.map((stat) => {
          return (
            <div class="stats__body__stat">
              <div class="stats__body__stat__title">{stat.title}</div>
              <div class="stats__body__stat__value counter">{stat.value}</div>
            </div>
          );
        })
      }
    </div>
  </div>
  <p class="center"><small>*Das Geld geht in Sticker und unsere Ausrüstung</small></p>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const animationDuration = 2000;
    const frameDuration = 1000 / 60;
    const totalFrames = Math.round(animationDuration / frameDuration);
    const easeOutQuad = (t) => t * (2 - t);

    const animateCountUp = (el) => {
      let frame = 0;
      const countTo = parseInt(el.innerHTML.replaceAll("€", "").replaceAll(" ", ""), 10);
      const counter = setInterval(() => {
        frame++;
        const progress = easeOutQuad(frame / totalFrames);
        const currentCount = Math.round(countTo * progress);

        if (parseInt(el.innerHTML, 10) !== currentCount) {
          if (el.innerHTML.includes("€")) {
            el.innerHTML = `${currentCount} €`;
          } else {
            el.innerHTML = currentCount;
          }
        }

        if (frame === totalFrames) {
          clearInterval(counter);
        }
      }, frameDuration);
    };

    const runAnimations = () => {
      const countupEls = document.querySelectorAll(".counter");
      countupEls.forEach(animateCountUp);
    };

    window.setInterval(() => {
      const statcounter = document.getElementById("statcounter");
      if (statcounter.getBoundingClientRect().top <= window.innerHeight && !statcounter.hasAttribute('data-animated')) {
        runAnimations();
        statcounter.setAttribute('data-animated', 'true');
      }
    }, 20);
  });
</script>