<div class="container center block">
    <a name="why" />
    <h1>Warum machen wir das?</h1>
    <p>Sticker gegen rechts zu verteilen, ist eine einfache, aber wirkungsvolle Form des Protests. Sie verbreiten antifaschistische Botschaften dort, wo rechte Ideologien sichtbar werden – auf der Straße, in der Öffentlichkeit oder online. Ein kleiner Aufkleber kann Passanten zum Nachdenken bringen, Solidarität zeigen oder rechte Narrative unterbrechen. Während Faschos versuchen, ihre Hetze normal erscheinen zu lassen, setzen Sticker ein Zeichen: Rechte Ideologien haben hier keinen Platz. Sie sind lautlos, aber deutlich – eine subtile Form des Widerstands, die Menschen daran erinnert, dass es immer eine Gegenstimme gibt.</p>
</div>